[submodule "Protos/protoc-gen-validate"]
	path = Protos/protoc-gen-validate
	url = https://github.com/envoyproxy/protoc-gen-validate.git
[submodule "Protos/api"]
	path = Protos/api
	url = https://github.com/authzed/api.git
[submodule "Protos/grpc-gateway"]
	path = Protos/grpc-gateway
	url = https://github.com/grpc-ecosystem/grpc-gateway.git
[submodule "Protos/api-common-protos"]
	path = Protos/api-common-protos
	url = https://github.com/googleapis/api-common-protos.git
